.idea
.ipynb_checkpoints
assets
__pycache__
*_defense_by_attack_with_z*
mnist_zico_untargeted_attack
checkpoints
checkpoints-celebA
fgsm_images_zico.npz
fgsm_images.npz
pgd_images_zico.npz
pgd_images.npz
spsa_images_zico.npz
bim_images.npz
cl2m_images.npz
ifs_images.npz
patched_images.npz
model_2
celebA_weights
training_history

*.zip
*.npz